In [1]:
import sys
import os

import pandas as pd
import numpy as np

import pyarrow.parquet as pq

import datetime

In [2]:
root_dir = 'C:/Users/delst/OneDrive/Desktop/Code/Workspace/Crypto_V2'
sys.path.append(root_dir)

from A_Main.Configurations.setup_env import setup_environment
config = setup_environment(root_dir)

---

In [14]:
os.listdir('C:/Users/delst/OneDrive/Desktop/Code/Workspace/Crypto_V2/Data/A_Raw/raw_data')

['ADAUSDT', 'BNBUSDT', 'BTCUSDT', 'DOGEUSDT', 'ETHUSDT', 'LTCUSDT', 'XRPUSDT']

In [3]:
table = pq.read_table(os.path.join(config.raw_data, 'raw_data', 'BTCUSDT'))
df = table.to_pandas()

In [4]:
display(df.head())
display(df.tail())

,OPEN,HIGH,LOW,CLOSE,VOLUME,QUOTE_ASSET_VOLUME,NUMBER_OF_TRADES,TAKER_BUY_BASE_ASSET_VOLUME,TAKER_BUY_QUOTE_ASSET_VOLUME,YEAR_AND_MONTH
OPEN_TIME,,,,,,,,,,
1502942400000,4261.48,4280.56,4261.48,4261.48,2.189061,9333.620962,9,0.489061,2089.104962,201708
1502942700000,4261.48,4261.48,4261.48,4261.48,0.000000,0.000000,0,0.000000,0.000000,201708
1502943000000,4261.48,4261.48,4261.48,4261.48,0.000000,0.000000,0,0.000000,0.000000,201708
1502943300000,4261.48,4264.88,4261.48,4261.48,0.484666,2065.447829,9,0.085455,364.218136,201708
1502943600000,4264.88,4266.29,4264.88,4266.29,2.328570,9931.161124,11,1.546491,6595.688039,201708

,OPEN,HIGH,LOW,CLOSE,VOLUME,QUOTE_ASSET_VOLUME,NUMBER_OF_TRADES,TAKER_BUY_BASE_ASSET_VOLUME,TAKER_BUY_QUOTE_ASSET_VOLUME,YEAR_AND_MONTH
OPEN_TIME,,,,,,,,,,
1687138800000,26424.97,26427.90,26416.09,26418.02,28.46059,7.520065e+05,974,8.38988,221663.721502,202306
1687139100000,26418.03,26420.16,26413.20,26417.60,27.91104,7.373191e+05,1071,16.59789,438451.467269,202306
1687139400000,26417.60,26450.00,26417.59,26441.01,61.30479,1.620880e+06,2000,36.73145,971079.854687,202306
1687139700000,26441.01,26441.01,26435.71,26437.43,31.77925,8.402103e+05,1087,11.48798,303721.368185,202306
1687140000000,26437.44,26437.44,26437.43,26437.43,1.31228,3.469331e+04,26,0.01133,299.536195,202306

In [5]:
# For the sake of simplicity, we will save this sample file as a .csv for anyone who is interested in the data.
# This is not necessary for the project, but it is a nice to have for anyone who wants to see the data.
# We will save the file in the Data directory as 'sample.csv'
# Furthermore, we will only save the first 1000 rows of the data.

df = df.head(1000)
path_to_save = os.path.join('C:/Users/delst/OneDrive/Desktop/Code/Workspace/Crypto_V2/Data/Samples', 'sample_raw.csv')
df.to_csv(path_to_save, index=True)